/* your styles will go here!! */

body{
    margin: 0;
    font-family: VT323;
    background-image: url(images/homepage-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

header{
    background-color: #CE43FF;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 90px;
    width: 100%;
    align-items: center;
}

a{
    font-size: 25px;
    color: white;
    margin: 20px;
}

h1{
    text-align: center;
    font-size: 128px;
    font-weight: normal;
    margin: 5px;
}

h2{
    font-size: 30px;
    font-weight: normal;
    margin: 5px;
    text-align: center;
}

h3{
    font-weight: normal;
    margin: 5px 20px;
    font-size: 50px ;
}

h4{
    font-size: 20px;
    font-weight: normal;
    margin: 5px 20px;
}

p{
    font-size: 12px;
    margin: 5px;
    display: inline-block, flex;
    text-align: center;
}

.main{
    font-size: 64px;
}

.artists{
    display: block;
    width: 100%;
    max-width: 841px;
    margin: 0 auto;
}

.chart{
    max-width: 700px;
    width: 100%;
    display: block;
    margin: 0 auto;
}

iframe{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 95%;
}