/*background*/

body{
    margin: 0;
    font-family: VT323;
    background-image: url(images/homepage-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.bluebg{
    background-image: url(images/bluebackground.svg);
}

.pinkbg{
    background-image: url(images/pinkbackground.svg);
}

.greenbg{
    background-image: url(images/greenbackground.svg);
}

.orangebg{
    background-image: url(images/orangebackground.svg);
}

header{
    background-color: #CE43FF;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 90px;
    width: 100%;
    align-items: center;
}

.blue{
    background-color: #001AFF;
}

.pink{
    background-color: #FF00A8;
}

.green{
    background-color: #70FF00;
}

.orange{
    background-color: #FFB800;
}

.purple{
    background-color: #CE43FF;
}

/*any animations*/

.hover{
    transition: transform .2s;
}

/*html formatting*/

a{
    font-size: 25px;
    color: white;
    margin: 20px;
}

h1{
    text-align: center;
    font-size: 128px;
    font-weight: normal;
    margin: 5px;
}

h2{
    font-size: 30px;
    font-weight: normal;
    margin: 5px;
    text-align: center;
}

h3{
    font-weight: normal;
    margin: 5px 20px;
    font-size: 50px ;
}

h4{
    font-size: 20px;
    font-weight: normal;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

p{
    font-size: 12px;
    margin: 5px 10px;
    text-align: center;
}

img{
    max-width: 200px;
    display: block;
    margin: 0 auto;
}

figcaption{
    text-align: center;
    margin: 0 auto;
    padding: 8px;
}


iframe{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 95%;
}

/*classes*/

.largeimg{
    max-width: 500px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 5px;

}

.gibberish{
    justify-content: flex-start;
    display: flex;
    align-items: center;
}

.visual{
    margin: 0 auto;
    margin-right: 20px;
}

.main{
    font-size: 64px;
}

.artists{
    display: block;
    width: 100%;
    max-width: 841px;
    margin: 0 auto;
    border-radius: 25px;
}

.chart{
    max-width: 500px;
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 10px;
}

/*album reviews*/

.squareb{
    background-color: #001AFF;
    padding: 5px;
    width: 75%;
    max-width: 75%;
    margin: 10px auto;
    justify-content: flex-start;
    border: 5px;
    border-radius: 25px;
    display: flex;
    align-items: center;
}

.squarep{
    background-color: #FF00A8;
    padding: 5px;
    width: 75%;
    max-width: 75%;
    margin: 10px auto;
    justify-content: flex-start;
    border: 5px;
    border-radius: 25px;
    display: flex;
    align-items: center;
}

.squareg{
    background-color: #70FF00;
    padding: 5px;
    width: 75%;
    max-width: 75%;
    margin: 10px auto;
    justify-content: flex-start;
    border: 5px;
    border-radius: 25px;
    display: flex;
    align-items: center;
}

.squareo{
    background-color: #FFB800;
    padding: 5px;
    width: 75%;
    max-width: 75%;
    margin: 10px auto;
    justify-content: flex-start;
    border: 5px;
    border-radius: 25px;
    display: flex;
    align-items: center;
}

/*specific stuff*/

.album{
    max-width: 200px;
    margin-left: 15px;
}

.border{
    border: 30px;
    border-radius: 25px;
    padding: 10px;
}

.review1{
    font-size: 40px;
    margin: 0px 20px;
}

.review2{
    margin: 10px 20px;
}

.padding{
    padding: 10px 0px;
}