/* your styles will go here!! */

body{
    margin: 0;
    font-family: VT323;
    background-image: url(images/homepage-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

header{
    background-color: #CE43FF;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 90px;
    width: 100%;
    align-items: center;
}

a{
    font-size: 30px;
    color: white;
    margin: 20px;
}

h1{
    text-align: center;
    font-size: 90px;
    font-weight: normal;
    margin: 10px;
}

h2{
    font-size: 30px;
    font-weight: normal;
    margin: 5px;
    text-align: center;
}

h3{
    font-weight: normal;
}

.artists{
    display: block;
    width: 100%;
    max-width: 841px;
    margin: 0 auto;
}